.revolutionary {
  min-width: 320px;
}

.revolutionary--title {
  color: #635c73;
  font-size: 26px;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.615;
  margin: 0;
}

.revolutionary--text {
  margin: 0;
  font-size: 17px;
  font-family: 'Lato';
  color: rgba(50, 50, 50, 0.8);
  line-height: 1.429;
  text-align: center;
  margin-top: 22px;
}

.revolutionary--icons {
  margin: 0 auto;
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 34px;
  margin-bottom: 88px;
}

.revolutionary--icons__watch {
  display: flex;
  width: 123px;
  height: 26px;
  align-items: center;
  border: 1px solid rgba(27, 31, 35, 0.35);
  border-radius: 4px;
}

.revolutionary--icons__watch-img {
  width: 80px;
  display: flex;
  background-color: #e9ecef;
  border-color: rgba(27, 31, 35, 0.35);
  box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15);
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  line-height: 1.5;
}

.revolutionary--icons__watch-text {
  margin: 0;
}

.revilutionary--icons__watch-number {
  margin: 0;
  margin-left: 4px;
  font-size: 12px;
  font-weight: bold;
}

.indentation {
  margin-top: 22px;
}

